header {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border-bottom: 1px solid #999;
}

header img {
  height: 50px; 
}