.contenedor-principal {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100px auto 100px; 
  grid-template-areas: 
    "header header"
    "form table"
    "footer footer";
  height: 100vh; 
  width: 100%;
}

.area-header {
  grid-area: header;
}

.area-form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white; 
}

.area-table {
  grid-area: table;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px; 
}

.area-footer {
  grid-area: footer;
}